Missing OID 1.3.6.1.4.1.11129.2.4.2 (SCT extension)

If security/certbot and its dependencies are compiled against security/libressl, renewal of certificates issued since late March by Let's Encrypt fails with the message:
```
The <ObjectIdentifier(oid=1.3.6.1.4.1.11129.2.4.2, name=Unknown OID)>
extension is invalid and can’t be parsed. Skipping.
All renewal attempts failed. The following certs could not be renewed:
```

This is caused by Let's Encrypt adding an extension to the certificate which is
not recognised by LibreSSL.

To reproduce:
ensure LibreSSL is in use for certbot's dependencies and enter:
`certbot renew --dry-run`

See also: https://bugs.freebsd.org/229016

While we can add the OID, the failure seems pretty crazy - the `1.3.6.1.4.1.11129.2.4.2` OID is used for signed certificate transparency extensions, which is specified in [RFC 6962 section 3.3](https://tools.ietf.org/html/rfc6962#section-3.3) - that RFC is still experimental. So you have a piece of software that is failing due to an unknown OID defined in an experimental RFC...

As an aside, that failure appears to be originating from an older version of Python Cryptography:

https://github.com/pyca/cryptography/blob/58ddc11036bbbb3c558015f9a5c8ea201fa609ec/src/cryptography/hazmat/backends/openssl/x509.py#L236

And it looks like at some point they changed the behaviour so that it only fails on critical extensions:

https://github.com/pyca/cryptography/commit/58ddc11036bbbb3c558015f9a5c8ea201fa609ec#diff-61af608275d527065eb127c6c04220dd

I'd suggest seeing if you can correct this in Python Cryptography, at least for the time being.

These OIDs are now present in libcrypto (along with SCT support):

```
objects/objects.txt:1 3 6 1 4 1 11129 2 4 2     : ct_precert_scts               : CT Precertificate SCTs
objects/objects.txt:1 3 6 1 4 1 11129 2 4 5     : ct_cert_scts                  : CT Certificate SCTs
```